In [1]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import xgboost as xg 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error as MSE 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pickle

In [4]:
# GET /CallDiabPredictionModel
req = json.loads(REQUEST)
args = req['args']
print (args)
if 'csvFilePath' not in args and 'HperParam' not in args:
  print(json.dumps({'No Data Received': None}))
else:
  csvFilePath = int(args['csvFilePath'][0])
  print(csvFilePath)
  HperParam = int(args['HperParam'][0])
  print(HperParam)
#csvFilePath="/home/nirav/HackProjectNoteBoks/CleanDiabData.csv"
df = pd.read_csv(csvFilePath)

In [5]:
df.head()
#df.rename(columns = {'Diabetes Hyper':'DiabetesStatus'}, inplace = True)

,Unnamed: 0,Age,Patternal Family History,Maternal Family History,DiabetesStatus,Weight_KG,Height_Inch,Gender
0,0,86,0,0,1,50,5,0
1,1,86,1,1,0,172,8,0
2,2,14,1,0,1,154,8,0
3,3,13,0,1,1,175,7,0
4,4,98,0,1,1,121,7,1

In [6]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                150 non-null    int64
 1   Age                       150 non-null    int64
 2   Patternal Family History  150 non-null    int64
 3   Maternal Family History   150 non-null    int64
 4   DiabetesStatus            150 non-null    int64
 5   Weight_KG                 150 non-null    int64
 6   Height_Inch               150 non-null    int64
 7   Gender                    150 non-null    int64
dtypes: int64(8)
memory usage: 9.5 KB

,Unnamed: 0,Age,Patternal Family History,Maternal Family History,DiabetesStatus,Weight_KG,Height_Inch,Gender
0,0,86,0,0,1,50,5,0
1,1,86,1,1,0,172,8,0
2,2,14,1,0,1,154,8,0
3,3,13,0,1,1,175,7,0
4,4,98,0,1,1,121,7,1

In [7]:
# Create X (features matrix)
X = df.drop("DiabetesStatus", axis=1)
# Create y (labels)
y = df["DiabetesStatus"]
#Convert Data Type Gender to int
#df['Gender'] = df['Gender'].apply(pd.to_numeric) 
#df.info()
#df.head()
#df.to_csv('CleanDiabData.csv')

In [8]:
# 2. Choose the right model and hyperparameters
#For our use case we have classfication algo where we will be classify that person is diabetic or not.
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [9]:
# 3. Fit the model to the training data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#print(X_train)
print(y_test)

21     1
89     1
109    1
79     0
65     1
116    1
63     0
57     0
94     1
68     0
100    0
144    1
121    1
35     1
96     1
117    1
18     0
60     0
51     1
80     0
146    0
16     0
64     0
70     0
84     1
127    1
5      1
72     0
142    0
131    1
Name: DiabetesStatus, dtype: int64

In [10]:
clf.fit(X_train, y_train);

In [11]:
X_train

,Unnamed: 0,Age,Patternal Family History,Maternal Family History,Weight_KG,Height_Inch,Gender
55,55,57,0,1,101,4,1
71,71,51,1,1,90,8,1
106,106,64,1,0,184,7,1
95,95,33,1,1,146,4,1
13,13,96,0,0,127,6,0
...,...,...,...,...,...,...,...
147,147,42,0,1,78,7,1
26,26,73,1,1,155,6,1
14,14,58,1,1,137,4,1
75,75,80,1,1,130,6,0
74,74,68,0,0,105,5,1

In [12]:

y_preds = clf.predict(X_test)
y_preds

array([0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0])

In [13]:
y_test

21     1
89     1
109    1
79     0
65     1
116    1
63     0
57     0
94     1
68     0
100    0
144    1
121    1
35     1
96     1
117    1
18     0
60     0
51     1
80     0
146    0
16     0
64     0
70     0
84     1
127    1
5      1
72     0
142    0
131    1
Name: DiabetesStatus, dtype: int64

In [14]:
clf.score(X_train, y_train)

1.0

In [16]:
clf.score(X_test, y_test)

0.43333333333333335

In [17]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.43      0.64      0.51        14
           1       0.44      0.25      0.32        16

    accuracy                           0.43        30
   macro avg       0.44      0.45      0.42        30
weighted avg       0.44      0.43      0.41        30

In [18]:
confusion_matrix(y_test, y_preds)

array([[ 9,  5],
       [12,  4]])

In [19]:
accuracy_score(y_test, y_preds)

0.43333333333333335

In [20]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 43.33%

Trying model with 20 estimators...
Model accuracy on test set: 50.00%

Trying model with 30 estimators...
Model accuracy on test set: 46.67%

Trying model with 40 estimators...
Model accuracy on test set: 46.67%

Trying model with 50 estimators...
Model accuracy on test set: 40.00%

Trying model with 60 estimators...
Model accuracy on test set: 40.00%

Trying model with 70 estimators...
Model accuracy on test set: 43.33%

Trying model with 80 estimators...
Model accuracy on test set: 46.67%

Trying model with 90 estimators...
Model accuracy on test set: 43.33%

In [22]:
pickle.dump(clf, open("model/random_forst_model_Nirav.pkl", "wb"))

In [23]:
loaded_model = pickle.load(open("model/random_forst_model_Nirav.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.43333333333333335